*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tv-show-segment {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shows-container {
    display: flex;
    flex-direction: row;
}

.tv-show {
    max-width: 300px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.tv-show:hover {
    background-color: #f0f0f0;
}

.episode-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 6px 6px 13px #969696, -6px -6px 13px #a2a2a2;
}

.episode-details h2 {
    margin-right: 20px;
    /* Adjust margin as needed */
}

.showDiv {
    width: 200px;
}